{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-xs-4">
            <h3>Pings</h3>
            {% if pingTests[0] %}
                <canvas id="pingchart-act" width="400" height="200"></canvas>
            {% else %}
                <p>No ping tests found :(</p>
            {% endif %}

            <h3>Speed</h3>
            {% if speedTests %}
                <canvas id="speedchart-act" width="400" height="200"></canvas>
            {% else %}
                <p>No speed tests found :(</p>
            {% endif %}
        </div>
        <div class="col-xs-4 text-center">
            <img src="{{ asset('assets/img/spy.jpg') }}" class="img-responsive center-block" alt="LANSpy"/>
            <h3>{{ hostname }}</h3>
            <h3>{{ ip }}</h3>
        </div>
        <div class="col-xs-4">
            <h3>Hosts</h3>
            {% if hostsTests.tests %}
                <canvas id="hostschart-act" width="400" height="200"></canvas>
                <h4>Known: {{ hostsTests.known|first|length }}</h4>
                <h4>Unknown: {{ hostsTests.unknown|first|length }}</h4>

                {% if hostsTests.unknown|first|length %}
                    <div class="alert alert-danger"><h4>INTRUSOS!!!</h4>
                        <dl class="dl-horizontal maclist">
                            {% for tests in hostsTests.unknown|first %}
                                {% set mac = tests|first %}
                                <dt>{{ mac.vendor }}</dt>
                                <dd>{{ mac.mac }}</dd>
                            {% endfor %}
                        </dl>
                    </div>
                {% endif %}
            {% else %}
                <p>No hosts tests found :(</p>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/vendor/chart.js/dist/Chart.bundle.min.js') }}"></script>
    <script src="{{ asset('assets/js/pingtest.js') }}"></script>
    <script src="{{ asset('assets/js/speedtest.js') }}"></script>
    <script src="{{ asset('assets/js/maptest.js') }}"></script>
    <script>
        {% for date, test in pingTests[0] %}
        drawPingChart('act', ['{{ test|keys|join("','")|raw }}'], [{{ test|join(',') }}], [{{ pingTests[1][date]|join(',') }}]);
        {% endfor %}

        {% for date, test in speedTests %}
        drawSpeedChart('act', ['{{ test.dates|join("','")|raw }}'], [{{ test.downloads|join(',') }}], [{{ test.uploads|join(',') }}]);
        {% endfor %}

        {% for date, tests in hostsTests.tests %}
        drawHostsChart('act', ['{{ tests.headers|join("','")|raw }}'], {{ mapTestToJS(tests, is_granted('ROLE_ADMIN'))|raw }});
        {% endfor %}

        setTimeout(function () {
            window.location.reload(1);
        }, 60000);
    </script>
{% endblock %}
