{% extends 'base.html.twig' %}

{% block title %}Maptest{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/maptest.css') }}">
{% endblock %}

{% block body %}
    <h1>MapTest Results</h1>
    <form method="post">
        <label for="date_start">Desde : </label> <input id="date_start" name="date_start" type="date" value="{{ dateStart }}"/>
        <label for="date_end">Hasta : </label> <input id="date_end" name="date_end" type="date" value="{{ dateEnd }}"/>
        <button>Buscar</button>
    </form>
    {% for date, tests in results %}
        <h2 class="title{{ date == actDate ? ' current' : '' }}">{{ date|cDate }}</h2>

        <canvas id="chart-{{ date }}" width="400" height="100"></canvas>

        <table class="table table-condensed">
            {% if is_granted('ROLE_ADMIN') %}
                {% if knownMacs %}
                    {% for name, vals in knownMacs[date] %}
                        <tr>
                            <td>{{ name }}</td>
                            <td><span class="macAddr">{{ vals.mac }}</span></td>
                            <td>{{ vals.vendor }}</td>
                            <td></td>
                        </tr>
                    {% endfor %}
                {% endif %}
            {% endif %}

            {% for mac, vals in unknown[date] %}
                <tr>
                    {% set v = vals|first %}
                    <td>?</td>
                    <td><span class="macAddr">{{ mac }}</span></td>
                    <td>{{ v.vendor }}</td>
                    <td>
                        {% if is_granted('ROLE_ADMIN') %}
                            <form method="post" action="{{ path('admin.addHost') }}">
                                <input name="name">
                                <input type="hidden" name="mac" value="{{ mac }}">
                                <input type="hidden" name="vendor" value="{{ v.vendor }}">
                                <button>Add</button>
                            </form>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <h2>No Test found :(</h2>
    {% endfor %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/vendor/chart.js/dist/Chart.bundle.min.js') }}"></script>
    <script src="{{ asset('assets/js/maptest.js') }}"></script>
    <script>
        {% for date, tests in results %}
        drawChart('{{ date }}', ['{{ tests.headers|join("','")|raw }}'], {{ mapTestToJS(tests, is_granted('ROLE_ADMIN'))|raw }});
        {% endfor %}
        {% if dateStart == dateEnd == actDate %}
        setTimeout(function () {
            window.location.reload(1);
        }, 60000);
        {% endif %}
    </script>
{% endblock %}
