{% extends 'base.html.twig' %}

{% block title %}Pingtest{% endblock %}

{% block body %}
    <h1>PingTest Results</h1>
    {% for date, test in tests[0] %}
        <h2 class="title{{ date == actDate ? ' current' : '' }}">{{ date|cDate }}</h2>
        <canvas id="chart-{{ date }}" width="400" height="100"></canvas>
    {% else %}
        <h2>No Test found :(</h2>
    {% endfor %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/vendor/chart.js/dist/Chart.bundle.min.js') }}"></script>
    <script src="{{ asset('assets/js/pingtest.js') }}"></script>
    <script>
        {% for date, test in tests[0] %}
        drawChart({{ date }}, ['{{ test|keys|join("','")|raw }}'], [{{ test|join(',') }}], [{{ tests[1][date]|join(',') }}]);
        {% endfor %}
    </script>
{% endblock %}
